{% extends 'core/base.html' %}
{% load static %}

{% block content %}
    <main class="main-profile container">
        {{ form.errors }}
        <form method="post" enctype="multipart/form-data" class="profile-card">
            {% csrf_token %}
            <div class="profile-card__body">
                <div class="input-wrapper input__email">
                    <label class="access-label" for="{{ form.old_password.id_for_label }}">Old Password</label>
                    <input
                            name="{{ form.old_password.name }}"
                            id="{{ form.old_password.id_for_label }}"
                            type="password"
                            class="input"
                            autocomplete="off"

                    />
                </div>
                <div class="input-wrapper input__email">
                    <label class="access-label" for="{{ form.new_password1.id_for_label }}">New Password</label>
                    <input
                            name="{{ form.new_password1.name }}"
                            id="{{ form.new_password1.id_for_label }}"
                            type="password"
                            class="input"
                            autocomplete="off"
                            value=""

                    />
                </div>
                <div class="input-wrapper input__email">
                    <label class="access-label" for="{{ form.new_password2.id_for_label }}">New Password Confirm</label>
                    <input
                            name="{{ form.new_password2.name }}"
                            id="{{ form.new_password2.id_for_label }}"
                            type="password"
                            class="input"
                            autocomplete="off"
                            value=""

                    />
                </div>

                <input type="submit" class="action-button" id="save-button" value="Save">
            </div>
        </form>

    </main>


{% endblock %}

{% block scripts %}
{% endblock %}

